<launch>
  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
  <include file="$(find omo_r1_bringup)/launch/omo_r1_robot_G2.launch" />
  <include file="$(find omo_r1_bringup)/launch/omo_r1_remote_G2.launch"/>
  <node name="waypoint_by_tag" pkg="apriltag_ros" type="waypoint_by_tag.py" output="screen" />
  
</launch>