
<launch>  
  <!--<node name="sequence_runner" pkg="omo_r1_bringup" type="run_sequence.py" output="screen" /> -->
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />
  <include file="$(find omo_r1_bringup)/launch/omo_r1_robot_G2.launch" />
  <include file="$(find omo_r1_bringup)/launch/omo_r1_remote_G2.launch"/>
  
</launch>
