<launch>

  <arg name="set_port" default="/dev/ttyMotor"/>
  <arg name="set_odom_mode" default="wheel_only"/>

  <node pkg="omo_r1_bringup" type="omo_r1_motor_node.py" name="omo_r1_motor_node" output="screen">
      <param name="port" value="$(arg set_port)"/>
      <param name="baud" value="115200"/>
      <param name="odom_mode" value="$(arg set_odom_mode)"/>
      <param name="modelName" value="r1"/>
  </node>

</launch>



<!--
<launch>
  <group ns="omo">
    <include file="$(find omo_r1_bringup)/launch/includes/description.launch.G2.xml"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>
  </group>

  <arg name="set_port" default="/dev/ttyMotor"/>
  <arg name="set_odom_mode" default="wheel_only"/>

  <node pkg="omo_r1_bringup" type="omo_r1_motor_node.py" name="omo_r1_motor_node" output="screen">
    <param name="port" value="$(arg set_port)"/>
    <param name="baud" value="115200"/>
    <param name="odom_mode" value="$(arg set_odom_mode)"/>
    <param name="modelName" value="r1"/>
  </node>
</launch>
-->